# ===== Python build & cache files =====
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# ===== Virtual environment =====
env/
venv/
.venv/


# ===== Data & large model files =====
data/
models/**


# ===== Environment files =====
.env
.env.*